.logo{
    background: #FFFFFF;
    align-content: center;
    margin: 0px;
}
.navbar-header {
    float: none;
    background: #0000ee;
}
.logo-text{
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
    font-style: oblique;
    font-family: 'PT Sans', sans-serif;}

.intro{
    font-size: 36px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    text-align: left;
}
