<section data-ng-controller="DancersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Dancer</h1>
    </div>
    <div class="col-md-4">
        <form name="dancerForm" class="form-horizontal" data-ng-submit="update(dancerForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.firstName.$invalid}">
                    <label class="control-label col-lg-4" for="firstName">First Name:</label>
                    <div class="controls col-lg-8">
                        <input name="firstName" type="text" data-ng-model="dancer.firstName" id="firstName" class="form-control" required/>
                    </div>
                    <div ng-show="submitted && dancerForm.firstName.$invalid" class="help-block">
                        <p ng-show="dancerForm.firstName.$error.required" class="text-danger">First Name is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.lastName.$invalid}">
                    <label class="control-label col-lg-4" for="lastName">Surname:</label>
                    <div class="controls col-lg-8">
                        <input name="lastName" type="text" data-ng-model="dancer.lastName" id="lastName" class="form-control" required/>
                    </div>
                    <div ng-show="submitted && dancerForm.lastName.$invalid" class="help-block">
                        <p ng-show="dancerForm.lastName.$error.required" class="text-danger">Surname is required</p>
                    </div>
                </div>
                <div class="form-group" data-ng-controller="CategoriesController" data-ng-init="find()">
                    <label for="category" class="control-label col-lg-4">Category:</label>
                    <div class="controls col-lg-3">
                        <select id="category" ng-model="$parent.dancer.category._id"
                                ng-options="category._id as category.name for category in categories" class="form-control" >
                        </select>
                    </div>
                    <div ng-show="submitted && dancerForm.category.$invalid" class="help-block">
                        <p ng-show="dancerForm.category.$error.required" class="text-danger">Category is required</p>
                    </div>
                </div>
                <div class="form-group" data-ng-controller="GendersController" data-ng-init="find()">
                    <label for="gender" class="control-label col-lg-4">Gender:</label>
                    <div class="controls col-lg-5">
                        <select id="gender" ng-model="$parent.dancer.gender._id"
                                ng-options="gender._id as gender.name for gender in genders" class="form-control" >
                            <option value="">Choose gender</option>
                        </select>
                    </div>
                    <div ng-show="submitted && dancerForm.email.$invalid" class="help-block">
                        <p ng-show="dancerForm.gender.$error.required" class="text-danger">Gender is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.points.$invalid }">
                    <label class="control-label col-lg-4" for="points">Points:</label>
                    <div class="controls col-lg-4">
                        <input type="number" data-ng-model="dancer.points" class="form-control" id="points" name="points" />
                    </div>
                    <div ng-show="submitted && dancerForm.points.$invalid" class="help-block">
                        <p ng-show="dancerForm.points.$error.required" class="text-danger">Points number is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.socialID.$invalid}">
                    <label class="control-label col-lg-4" for="socialID">Social ID:</label>
                    <div class="controls col-lg-5">
                        <input name="socialID" type="text" maxlength="9" data-ng-model="dancer.socialID" id="socialID" class="form-control" required>
                    </div>
                    <div ng-show="submitted && dancerForm.socialID.$invalid" class="help-block">
                        <p ng-show="dancerForm.socialID.$error.required" class="text-danger">Social ID is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.dob.$invalid}">
                    <label class="control-label col-lg-4" for="dob">Date of birth:</label>
                    <div class="controls col-lg-6">
                        <input type="date"  value="{{date | date:dd/MM/yyyy}}" data-ng-model="dancer.dob"
                               name="dobInput" id="dob" valueAsDate="{{dancer.dob.dateAsDate}}"
                               data-date-format="dd/mm/yyyy"
                               maxdate="todays" class="form-control"
                               required calendar validatedateformat>
                        </input>
                    </div>
                    <div ng-show="submitted && dancerForm.dob.$invalid" class="help-block">
                        <p ng-show="dancerForm.dob.$error.required" class="text-danger">DOB is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.email.$invalid}">
                    <label for="email" class="control-label col-lg-4">Email:</label>
                    <div class="controls col-lg-8">
                        <input type="email" id="email" name="email" data-ng-model="dancer.email" class="form-control">
                    </div>
                    <div ng-show="submitted && dancerForm.email.$invalid" class="help-block">
                        <p ng-show="dancerForm.email.$error.required" class="text-danger">Email address is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.phone.$invalid}">
                    <label class="control-label col-lg-4" for="phone">Phone:</label>
                    <div class="controls col-lg-8">
                        <input name="phone" type="tel" data-ng-model="dancer.phone" id="phone" class="form-control" required>
                    </div>
                    <div ng-show="submitted && dancerForm.phone.$invalid" class="help-block">
                        <p ng-show="dancerForm.phone.$error.required" class="text-danger">Phone number is required</p>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="partnerCombo" class="col-lg-4 control-label">Partner:</label>
                    <div class="controls col-lg-8" data-ng-init="find()">
                        <select id="partnerCombo" name="partnerCombo" ng-model="dancer.partner"
                                ng-options="partner._id as partner.lastName for partner in dancers" class="form-control" >
                        </select>
                    </div>
                </div>
<!--
                <div class="form-group">
                    <label class=" control-label col-lg-4" for="partner">Partner ID:</label>
                    <small class="controls col-lg-8">
                        <em id="partner" class="text-muted">
                            <span data-ng-bind="dancer.partner"></span>
                        </em>
                    </small>
                </div>
-->
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.isPaid.$invalid}">
                    <label class="control-label col-lg-4" for="isPaid">Active:</label>
                    <div class="togglebutton">
                        <input type="checkbox" id="isPaid" data-ng-model="dancer.isPaid">
<!--                        Active({{dancer.isPaid}})<br/> -->
                    </div>
                    <div ng-show="submitted && dancerForm.isPaid.$invalid" class="help-block">
                        <p ng-show="dancerForm.isPaid.$error.required" class="text-danger">Payment data is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
