<section data-ng-controller="DancersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Dancer</h1>
    </div>
    <div class="col-md-4">
        <form name="dancerForm" class="form-horizontal" data-ng-submit="update(dancerForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.socialID.$invalid}">
                    <label class="control-label" for="socialID">Social ID</label>
                    <div class="controls">
                        <input name="socialID" type="text" data-ng-model="dancer.socialID" id="socialID" class="form-control" required>
                    </div>
                    <div ng-show="submitted && danacerForm.socialID.$invalid" class="help-block">
                        <p ng-show="danacerForm.socialID.$error.required" class="text-danger">Social ID is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.firstName.$invalid}">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                        <input name="firstName" data-ng-model="dancer.firstName" id="firstName" class="form-control" required/>
                    </div>
                    <div ng-show="submitted && dancerForm.firstName.$invalid" class="help-block">
                        <p ng-show="dancerForm.firstName.$error.required" class="text-danger">First Name is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && dancerForm.lastName.$invalid}">
                    <label class="control-label" for="lastName">Surname</label>
                    <div class="controls">
                        <input name="lastName" data-ng-model="dancer.lastName" id="lastName" class="form-control" required/>
                    </div>
                    <div ng-show="submitted && dancerForm.lastName.$invalid" class="help-block">
                        <p ng-show="dancerForm.lastName.$error.required" class="text-danger">Surname is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
