<section data-ng-controller="DancersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Dancers</h1>
        <table>
            <th class="col-md-2">First Name</th>
		    <th class="col-md-2">Surname</th>
		    <th class="col-md-1">Gender</th>
            <th class="col-md-1">Category</th>
		    <th >DOB</th>
            <th>Active</th>
            <th>Paid</th>
            <tr data-ng-repeat="dancer in dancers" data-ng-href="#!/dancers/{{dancer._id}}" >
                <td class="col-lg-2"> {{dancer.firstName}}></td>
                <td class="col-lg-2"> {{dancer.lastName}}></td>
                <td class="col-lg-1"> {{dancer.gender}}</td>
                <td class="col-lg-1"> {{dancer.category.name}}</td>
                <td>{{ dancer.dob | date: 'dd-MM-yyyy' }} </td>
                <td>
                    <i class="glyphicon alert-success glyphicon-ok"  aria-hidden="true"data-ng-show="(dancer.isPaid)"></i>
                    <i class="glyphicon alert-danger glyphicon-remove" aria-hidden="true" data-ng-show="(!dancer.isPaid)"></i>
                </td>
                <td>
                    <i class="glyphicon alert-success glyphicon-ok" data-ng-show="(dancer.isPaid)"></i>
                    <i class="glyphicon alert-danger glyphicon-remove" data-ng-show="(!dancer.isPaid)"></i>
                </td>
                <td class="pull-right" data-ng-show="(authentication.user)">
                    <a class="btn btn-primary" href="/#!/dancers/{{dancer._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" data-ng-click="remove(dancer);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!dancers.$resolved || dancers.length">
    	No Dancers yet, why don't you <a href="/#!/dancers/create">create one</a>?
    </div>
</section>
