<section data-ng-controller="DancersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>
			<span data-ng-bind="dancer.firstName"></span>
			<span data-ng-bind="dancer.lastName"></span>
		</h1>
	</div>
	<div class="pull-right" data-ng-show="(authentication.user)">
	<a class="btn btn-primary" href="/#!/dancers/{{dancer._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" href="/#!/dancers">
			<i class="glyphicon glyphicon-ok"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Social ID
			<span data-ng-bind="dancer.socialID"></span>
			gender
			<span data-ng-bind="dancer.gender"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="dancer.firstName"></p>
</section>
