<section data-ng-controller="DancersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="dancer.lastName"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
		<a class="btn btn-primary" href="/#!/dancers/{{dancer._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Dancer social ID
			<span data-ng-bind="dancer.socialID"></span>
			Surname
			<span data-ng-bind="dancer.lastName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="dancer.firstName"></p>
</section>
