.togglebutton {
    vertical-align: middle;
}
.togglebutton,
.togglebutton label,
.togglebutton input,
.togglebutton .toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.togglebutton label {
    font-weight: 400;
    cursor: pointer;
}
.togglebutton label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}
.togglebutton label .toggle,
.togglebutton label input[type=checkbox][disabled] + .toggle {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color: rgb(80, 80, 80);
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
}
.togglebutton label .toggle:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #F1F1F1;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0);
    left: -5px;
    top: -2px;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.togglebutton label input[type=checkbox][disabled] + .toggle:after,
.togglebutton label input[type=checkbox][disabled]:checked + .toggle:after {
    background-color: #BDBDBD;
}
.togglebutton label input[type=checkbox] + .toggle:active:after,
.togglebutton label input[type=checkbox][disabled] + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(0, 0, 0);
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
    left: 15px;
}
.togglebutton label input[type=checkbox]:checked + .toggle,
.togglebutton-default label input[type=checkbox]:checked + .toggle {
    background-color: rgb(0, 150, 136);
}
.togglebutton-black label input[type=checkbox]:checked + .toggle {
    background-color: rgb(0, 0, 0);
}
.togglebutton-white label input[type=checkbox]:checked + .toggle {
    background-color: rgb(255, 255, 255);
}
.togglebutton-inverse label input[type=checkbox]:checked + .toggle {
    background-color: rgb(63, 81, 181);
}
.togglebutton-primary label input[type=checkbox]:checked + .toggle {
    background-color: rgb(0, 150, 136);
}
.togglebutton-success label input[type=checkbox]:checked + .toggle {
    background-color: rgb(76, 175, 80);
}
.togglebutton-info label input[type=checkbox]:checked + .toggle {
    background-color: rgb(3, 169, 244);
}
.togglebutton-warning label input[type=checkbox]:checked + .toggle {
    background-color: rgb(255, 87, 34);
}
.togglebutton-danger label input[type=checkbox]:checked + .toggle {
    background-color: rgb(244, 67, 54);
}
.togglebutton-material-red label input[type=checkbox]:checked + .toggle {
    background-color: rgb(244, 67, 54);
}
.togglebutton-material-pink label input[type=checkbox]:checked + .toggle {
    background-color: rgb(233, 30, 99);
}
.togglebutton-material-purple label input[type=checkbox]:checked + .toggle {
    background-color: rgb(156, 39, 176);
}
.togglebutton-material-deep-purple label input[type=checkbox]:checked + .toggle {
    background-color: rgb(103, 58, 183);
}
.togglebutton-material-indigo label input[type=checkbox]:checked + .toggle {
    background-color: rgb(63, 81, 181);
}
.togglebutton-material-blue label input[type=checkbox]:checked + .toggle {
    background-color: rgb(33, 150, 243);
}
.togglebutton-material-light-blue label input[type=checkbox]:checked + .toggle {
    background-color: rgb(3, 169, 244);
}
.togglebutton-material-cyan label input[type=checkbox]:checked + .toggle {
    background-color: rgb(0, 188, 212);
}
.togglebutton-material-teal label input[type=checkbox]:checked + .toggle {
    background-color: rgb(0, 150, 136);
}
.togglebutton-material-green label input[type=checkbox]:checked + .toggle {
    background-color: rgb(76, 175, 80);
}
.togglebutton-material-light-green label input[type=checkbox]:checked + .toggle {
    background-color: rgb(139, 195, 74);
}
.togglebutton-material-lime label input[type=checkbox]:checked + .toggle {
    background-color: rgb(205, 220, 57);
}
.togglebutton-material-yellow label input[type=checkbox]:checked + .toggle {
    background-color: rgb(255, 235, 59);
}
.togglebutton-material-amber label input[type=checkbox]:checked + .toggle {
    background-color: rgb(255, 193, 7);
}
.togglebutton-material-orange label input[type=checkbox]:checked + .toggle {
    background-color: rgb(255, 152, 0);
}
.togglebutton-material-deep-orange label input[type=checkbox]:checked + .toggle {
    background-color: rgb(255, 87, 34);
}
.togglebutton-material-brown label input[type=checkbox]:checked + .toggle {
    background-color: rgb(121, 85, 72);
}
.togglebutton-material-grey label input[type=checkbox]:checked + .toggle {
    background-color: rgb(158, 158, 158);
}
.togglebutton-material-blue-grey label input[type=checkbox]:checked + .toggle {
    background-color: rgb(96, 125, 139);
}
.togglebutton label input[type=checkbox]:checked + .toggle:after,
.togglebutton-default label input[type=checkbox]:checked + .toggle:after {
    background-color: #009688;
}
.togglebutton-black label input[type=checkbox]:checked + .toggle:after {
    background-color: #000000;
}
.togglebutton-white label input[type=checkbox]:checked + .toggle:after {
    background-color: #ffffff;
}
.togglebutton-inverse label input[type=checkbox]:checked + .toggle:after {
    background-color: #3f51b5;
}
.togglebutton-primary label input[type=checkbox]:checked + .toggle:after {
    background-color: #009688;
}
.togglebutton-success label input[type=checkbox]:checked + .toggle:after {
    background-color: #4caf50;
}
.togglebutton-info label input[type=checkbox]:checked + .toggle:after {
    background-color: #03a9f4;
}
.togglebutton-warning label input[type=checkbox]:checked + .toggle:after {
    background-color: #ff5722;
}
.togglebutton-danger label input[type=checkbox]:checked + .toggle:after {
    background-color: #f44336;
}
.togglebutton-material-red label input[type=checkbox]:checked + .toggle:after {
    background-color: #f44336;
}
.togglebutton-material-pink label input[type=checkbox]:checked + .toggle:after {
    background-color: #e91e63;
}
.togglebutton-material-purple label input[type=checkbox]:checked + .toggle:after {
    background-color: #9c27b0;
}
.togglebutton-material-deep-purple label input[type=checkbox]:checked + .toggle:after {
    background-color: #673ab7;
}
.togglebutton-material-indigo label input[type=checkbox]:checked + .toggle:after {
    background-color: #3f51b5;
}
.togglebutton-material-blue label input[type=checkbox]:checked + .toggle:after {
    background-color: #2196f3;
}
.togglebutton-material-light-blue label input[type=checkbox]:checked + .toggle:after {
    background-color: #03a9f4;
}
.togglebutton-material-cyan label input[type=checkbox]:checked + .toggle:after {
    background-color: #00bcd4;
}
.togglebutton-material-teal label input[type=checkbox]:checked + .toggle:after {
    background-color: #009688;
}
.togglebutton-material-green label input[type=checkbox]:checked + .toggle:after {
    background-color: #4caf50;
}
.togglebutton-material-light-green label input[type=checkbox]:checked + .toggle:after {
    background-color: #8bc34a;
}
.togglebutton-material-lime label input[type=checkbox]:checked + .toggle:after {
    background-color: #cddc39;
}
.togglebutton-material-yellow label input[type=checkbox]:checked + .toggle:after {
    background-color: #ffeb3b;
}
.togglebutton-material-amber label input[type=checkbox]:checked + .toggle:after {
    background-color: #ffc107;
}
.togglebutton-material-orange label input[type=checkbox]:checked + .toggle:after {
    background-color: #ff9800;
}
.togglebutton-material-deep-orange label input[type=checkbox]:checked + .toggle:after {
    background-color: #ff5722;
}
.togglebutton-material-brown label input[type=checkbox]:checked + .toggle:after {
    background-color: #795548;
}
.togglebutton-material-grey label input[type=checkbox]:checked + .toggle:after {
    background-color: #9e9e9e;
}
.togglebutton-material-blue-grey label input[type=checkbox]:checked + .toggle:after {
    background-color: #607d8b;
}
.togglebutton label input[type=checkbox]:checked + .toggle:active:after,
.togglebutton-default label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(0, 150, 136);
}
.togglebutton-black label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(0, 0, 0);
}
.togglebutton-white label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(255, 255, 255);
}
.togglebutton-inverse label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(63, 81, 181);
}
.togglebutton-primary label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(0, 150, 136);
}
.togglebutton-success label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(76, 175, 80);
}
.togglebutton-info label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(3, 169, 244);
}
.togglebutton-warning label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(255, 87, 34);
}
.togglebutton-danger label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(244, 67, 54);
}
.togglebutton-material-red label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(244, 67, 54);
}
.togglebutton-material-pink label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(233, 30, 99);
}
.togglebutton-material-purple label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(156, 39, 176);
}
.togglebutton-material-deep-purple label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(103, 58, 183);
}
.togglebutton-material-indigo label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(63, 81, 181);
}
.togglebutton-material-blue label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(33, 150, 243);
}
.togglebutton-material-light-blue label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(3, 169, 244);
}
.togglebutton-material-cyan label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(0, 188, 212);
}
.togglebutton-material-teal label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(0, 150, 136);
}
.togglebutton-material-green label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(76, 175, 80);
}
.togglebutton-material-light-green label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(139, 195, 74);
}
.togglebutton-material-lime label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(205, 220, 57);
}
.togglebutton-material-yellow label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(255, 235, 59);
}
.togglebutton-material-amber label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(255, 193, 7);
}
.togglebutton-material-orange label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(255, 152, 0);
}
.togglebutton-material-deep-orange label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(255, 87, 34);
}
.togglebutton-material-brown label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(121, 85, 72);
}
.togglebutton-material-grey label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(158, 158, 158);
}
.togglebutton-material-blue-grey label input[type=checkbox]:checked + .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgb(0, 0, 0), 0 0 0 15px rgb(96, 125, 139);
}
